body {
    background-image: linear-gradient(180deg, #010216 0%, rgba(9, 11, 49, 0) 100%);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(160, 138, 138, 0.25));
    }
    
    .intro-section {
    position: relative;
    top: 35px;
    text-align: left;
    }
    
    .intro {
    font-family: 'Fira Code', monospace;
    color:#3FD4BA;
    font-size: 1em;
    text-align: left;
    }
    .name {
    font-family: 'Inter', sans-serif; ;
    font-size: 3em;
    color: white;
    text-align: left;
    }
    
    .description {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    color: white 50%;
    text-align: left;
    opacity: 50%;
    }
    .description2 {
    text-align: left;
    
    }
    
    ul {
    list-style: none;
    text-align: left;
    }
    
    a {
    font-family: 'Fira Code', monospace;
    color: #3FD4BA;
    text-align: left;
    }
    
    .projects {
    text-align: left;
    }
    
    .block-title {
    font-family: 'Fira Code', monospace;
    color: #3FD4BA;
    font-size: 2em;
    text-align: left;
    }
    
    .exp-box {
    text-align: left;
    }
    
    nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    }
    nav a {
    margin-left: 20px;
    }
    
    .resume-link {
    color: black;
    text-align: left;
    }
    
    .Socials iconify-icon {
    color: black;
    font-size: 30px;
    margin: 0 20px; /* add space between icons */
    text-align: left;
    }
