body{
    background-image: linear-gradient(180deg, #010216 0%, rgba(9, 11, 49, 0) 100%);
    background-repeat: no-repeat;
}

.intro {
    font-family: 'Fira Code', monospace; 
    color:#010216;
    font-size: 1em;
    position: relative;
    left: 15%;
    top: 30%;
}
.name {
    font-family: 'Inter', sans-serif; ;
    font-size: 3em;
    color: white;
    position: relative;
    left: 15%;
    top: 30%;
}

.description { 
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    color: white 50%;
    position: relative;
    left: 15%;
    top: 30%;
}

nav {
    
}